.header{
    text-align: center;
}

ion-col {
    text-align: left;
  }

ion-button{
    --icon-font-size: 10px;
    width: 130px;
    height: 20px;
}

ion-avatar{
    width: 60px;
    height: 60px;
    margin: auto;
}